{% extends 'base.html.twig' %}

{% block title %}Recette_cour - Connexion{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="mt-4">Formulaire de connexion</h1>
      <form action=" {{ path('security.login')}} " method="post">
      
      </form>
        </div>


{% endblock %}
